<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism-tomorrow.min.css">
</head>
<body class="container">
  <main class="with-sidebar">
    <nav class="sidebar">
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
    <article class="not-sidebar">
      {% block content %}{{ content | safe }}{% endblock %}
    </article>
  </main>
</body>
</html>